useDynLib("gllm")
importFrom("stats", 
           "anova", 
           "model.matrix", 
           "pchisq")
export("anova.gllm",
       "boot.gllm",
       "boot.table",
       "emgllmfitter",
       "emgllm",
       "gllm",
       "ld2.model",
       "ld2",
       "scatter",
       "scoregllm",
       "summary.gllm")
S3method(anova, gllm)
S3method(summary, gllm)
S3method(print, summary.gllm)
S3method(print, ld2)
